p {
    margin: 0
}

a {
    color: #616161;
    text-decoration: none;
    cursor: pointer
}

.card {
    border: none
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins/Poppins-Regular.ttf),
    url(../fonts/Poppins/PoppinsLatin-Regular.woff2),
    url(../fonts/Poppins/PoppinsLatin-Regular.woff),
    url(../fonts/Poppins/PoppinsLatin-Regular.otf);

}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins/Poppins-Bold.ttf),
    url(../fonts/Poppins/PoppinsLatin-Bold.woff2),
    url(../fonts/Poppins/PoppinsLatin-Bold.woff),
    url(../fonts/Poppins/PoppinsLatin-Bold.otf);
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins/Poppins-Medium.ttf),
    url(../fonts/Poppins/PoppinsLatin-Medium.woff2),
    url(../fonts/Poppins/PoppinsLatin-Medium.woff),
    url(../fonts/Poppins/PoppinsLatin-Medium.otf);
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf),
    url(../fonts/Poppins/PoppinsLatin-Light.woff2),
    url(../fonts/Poppins/PoppinsLatin-Light.woff),
    url(../fonts/Poppins/PoppinsLatin-Light.otf);
}

html, body {
    margin: 0 auto;
    padding: 0;
    font-family: Poppins-Regular;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.col-md-4, .col-md-8 {
    padding: 0
}

.nav-box-shadow {
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, .07);
    background-color: #fff;
    margin-bottom: 0
}

.nav > li > a {
    font-size: 20px;
    line-height: 30px;
    color: #000
}

.nav > li > a:hover {
    text-decoration: seagreen;
    background-color: transparent;
    color: #295bd4
}

.navbar-default {
    background-color: transparent;
    border: none
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700
}

.navbar-default .navbar-nav > li > a:hover {
    color: #BCD38B !important
}

.a-table-odd img {
    padding-bottom: 10px
}

.a-table-odd:hover {
    text-decoration: none
}

.a-table-blue img {
    padding-bottom: 10px
}

.a-table-blue:hover {
    text-decoration: none
}

#section0 {
    display: table;
    width: 100%;
    padding: 0;
    box-shadow: none;
    border: none;
    margin-top: 49px
}

#section0 div section {
    width: 100%;
    height: 50%
}

#section0 p {
    font-size: 15px;
    font-family: Poppins-Medium;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: center
}

#Our-services h2 {
    font-family: Poppins-SemiBold;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    color: #000314;
    /*     margin-top: 84px; */
    margin-bottom: 19px
}

#section1 {
    margin-top: 80px
}

#section5 p {
    margin: 4px 0
}

#section9 ul > li {
    font-size: 20px;
    line-height: 33px
}

#section9 ul > li p {
    padding-left: 12px
}

#section3 h3 {
    padding: 0
}

.section {
    border-radius: 8px;
    margin-top: 60px;
    border: 1px solid rgba(238, 238, 238, .5);
    /*     box-shadow: 0 4px 8px 0 rgba(238, 238, 238, .5), 0 6px 20px 0 rgba(0, 0, 0, .19); */
    box-shadow: 0 10px 30px 0 rgb(238 238 238 / 70%);
    padding: 36px 33px 54px 33px
}

.h1-section-title {
    display: inline-block;
    font-family: Poppins-Medium;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    margin-top: 42px;
    margin-bottom: 26px
}

.p {
    font-size: 17px;
    font-family: Poppins-Regular;
    line-height: 30px
}

#copyright {
    font-family: Poppins-Regular;
    font-size: 18px;
    line-height: 60px
}

.nightguards-img section {
    margin-bottom: 42px;
    display: flex;
    align-items: center
}

.nightguards-img-center {
    padding: 0;
    justify-content: center
}

#p-border-section p {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    color: #295bd4;
    padding: 35px 20px 34px 21px
}

.p-button-title {
    color: #bcd38b;
    font-size: 20px;
    font-family: Poppins-Medium;
    line-height: 27px;
    font-weight: 500;
    text-align: center
}

.home-img-button {
    margin-right: 10px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 30px 0 rgba(188, 211, 139, .3);
    border: solid 1px #bcd38b;
    background-color: #fff;
    border-radius: 50%
}

.serviceslist h6 {
    font-family: Poppins-Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #DFDDC6;
    padding-right: 20px
}

.serviceslist span {
    width: 44px;
    height: 44px;
    border: 1px solid #c7c7c7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 15px 30px 0 rgba(223, 221, 198, .5);
    border: solid 1px rgba(223, 221, 198, .5);
    background-color: #fff
}

.serviceslist:hover {
    text-decoration: none
}

.serviceslist:focus {
    text-decoration: none
}

.img-card {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 8px 35px 0 rgba(188, 211, 139, .2);
    background-color: #fff;
    margin-bottom: 30px
}

#office-information a {
    color: #000
}

.office-information-boxshadow {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, .05);
    border: solid 1px rgba(238, 238, 238, .5);
    border-radius: 10px;
    padding: 16px;
    background-color: #fff;
    text-align: left;
    /*     height: 350px */
    height: fit-content;
}

.office-information-boxtitle {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700
}

.office-information-boxtext {
    font-size: 17px;
    line-height: 27px
}

.herobg {
    width: 100%;
    height: 732px
}

.herobg h1 {
    color: #fff;
    line-height: 60px;
    font-size: 40px;
    padding-top: 156px;
    font-weight: 700
}

.herobg h2 {
    font-size: 25px;
    line-height: 46px;
    padding-top: 13px;
    color: #fff
}

.title {
    line-height: 53px;
    font-size: 25px;
    font-weight: 700
}


#hslider {
    font-size: 24px;
    line-height: 35px;
    font-weight: 700
}

.height-142 {
    height: 142px
}

.box-items {
    background-color: #fff;
    box-shadow: 0 0px 52px 0 rgb(188 211 139 / 43%);
    border-radius: 12px
}

#box-items-email {
    width: 333px;
    height: 142px;
    background-color: #fff;
    box-shadow: 0 12px 40px 0 rgba(41, 91, 212, .15);
    border-radius: 12px;
    margin: 32px 35px 0 35px;
    display: flex
}

#Box-a {
    padding-left: 148.5px;
    padding-right: 35px
}

#Box-c {
    padding-right: 148.5px;
    padding-left: 35px
}

.width-height-boxes {
    width: 333px;
    height: 142px
}

#email-box {
    margin-top: 32px
}

.footer {
    background-color: #f6f9fe
}

.footer-ul-li {
    font-size: 20px;
    color: #000
}

@media only screen and (max-width: 991px) {
    .contactUsMarginTop{
        margin-top:85px!important;
    }

    .section div a div span + h6{
        text-align:left!important;
    }


    #section0 > section div {
        width: 100%
    }

    .a-button {
        justify-content: center
    }

    .button-align {
        text-align: center !important
    }

    .container {
        width: 100%;
        overflow-x: hidden;
        margin: auto
    }

    .infopaddingleft {
        padding-left: 83px !important
    }


    .margin-logo {
        padding: 0 !important
    }

    #about-us {
        margin-top: 50px !important
    }

    .slider{
        margin-bottom:0!important;
    }
}

.img-width-100 {
    width: 100%
}

a {
    cursor: pointer
}

.padding-0 {
    padding: 0
}

#location {
    width: 231px;
    padding-right: 32px
}

#location h3 {
    display: contents;
    font-family: Poppins-SemiBold;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 46px;
    letter-spacing: normal;
    text-align: left;
    color: #000314
}

#location section {
    margin-top: 170px;
    transform: rotate(-90deg);
    display: flex;
    transform-origin: right
}

h1 {
    margin: 0
}

.clock-header-p {
    font-size: 15px;
    line-height: 23px;
    color: #000314;
    padding-left: 10px
}

.tell-header-p {
    font-size: 15px;
    line-height: 23px;
    color: #000314;
    padding-left: 10px
}

#about-us > div:nth-child(2) a {
    margin-top: 21px
}

#Our-teams {
    margin-top: 164px
}

.footer-time div {
    height: 133px;
    background: linear-gradient(To right, #0d1861, #295bd4, #295bd4);
    border-radius: 15px
}

.footer-time div > section:nth-child(1) img {
    padding-top: 24px;
    padding-left: 22px
}

.footer-time div > section:nth-child(2) {
    color: #fff;
    text-align: left
}

.text-primary {
    color: #295bd4
}

#new-patient-forms h2 {
    padding-top: 91.9px
}

hr {
    border-top: 0.5px solid rgb(128 128 128);
}

.text-align-center {
    text-align: center
}

.display-flex {
    display: flex
}

.text-align-right {
    text-align: right
}

.text-align-left {
    text-align: left
}

#Treatments-sections a {
    font-size: 17px;
    line-height: 30px;
    font-family: Poppins-Medium;
    font-weight: 500;
    color: #616161
}

#Treatments-sections a:hover {
    color: #BCD38B
}

.show-more {
    font-family: Poppins-Medium;
    color: #295bd4;
    line-height: 33px;
    font-size: 22px;
    font-weight: 500;
    width: 100%;
    position: absolute;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center
}

.show-more a {
    text-decoration: none
}

.margin-top-19 {
    margin-top: 19px
}

.margin-top-27 {
    margin-top: 27px
}



@media only screen and (max-width: 375px) {

    #top-menu{
        padding-left: 10px;
    }


    .notfound h1{
        font-size:17px!important;
    }



    iframe {
        margin-left: -3rem!important;
    }

    #carousel2 .owl-dots{
        display: flex;
        justify-content: center;
    }

    .close{
        top: -5%!important;
        right: 5%!important;
    }
    .modal-content{
        margin-top:120px;
    }

    .section{
        padding:20px!important;
    }

    .section p{
        font-size:15px!important;
    }


    .herobg h1 {
        font-size: 28px!important;
    }

    #carousel1 .owl-stage-outer {
        overflow:visible!important
    }

    .emp-card {
        width: 247px;
        height: 260px;
    }

    .emp-card img {
        width: 194px;
        height: 205px;
        margin-top: -35px;
    }




    #treat{
        margin-top:50px!important;
    }
    .gotop div {
        position: absolute;
        top: 85px;
        right: 0
    }

    #section0 {
        display: contents !important
    }

    .margin-bottom-50 {
        margin-bottom: 50px
    }

    .display-grid {
        display: grid !important
    }

    .margin-top-35 {
        margin-top: 35px
    }

    #Our-teams {
        margin-top: 0
    }

    #about-us {
        margin-top: 0
    }

    .br-display {
        display: visible !important
    }

    .display-flex-home-item {
        display: flex
    }

    .display-flex-home {
        display: block !important
    }

    .height-80 {
        margin-bottom: 20px;
        height: 61px
    }

    #new-patient-forms h2 {
        padding-top: 0
    }

    .font-size-12 {
        font-size: 12px
    }

    .font-size-14-nav {
        font-size: 14px !important
    }

    .nighguards-span img {
        width: 27px
    }

    .nighguards-span {
        width: 50px;
        height: 50px
    }

    #section3 h1 {
        margin-top: 30px
    }

    .map-section {
        margin-top: 0
    }

    #direction p {
        margin-bottom: 30px
    }

    .display-block {
        display: block !important
    }

    #section0 > section div {
        width: 100%
    }



    .font-size-18 {
        font-size: 18px !important;
        line-height: 24px !important
    }

    .font-size-16 {
        font-size: 16px !important
    }

    .center-block {
        display: block;
        margin: 0 auto
    }

    .margin-top {
        margin-top: 60px !important
    }

    .extra_content {
        display: none
    }

    #read_more {
        display: block
    }

    .margin-top-0 {
        margin-top: 0 !important
    }
}

#read_more {
    text-decoration: none;
    color: #295bd4
}

.show-more a {
    color: #DFDDC6 !important
}

.read_more {
    display: none
}

.show {
    display: block !important
}

.display-block {
    display: block
}

.br-display {
    display: none
}

.upbutton-footer {
    margin-top: 40px;
    display: flex
}

a:focus, a:hover {
    text-decoration: none
}

.show-more-services {
    margin-top: 43px;
    margin-bottom: 85px
}

.show-more-services p {
    color: #fff
}

.team {
    border-radius: 15px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, .07);
    background-color: #fff;
    min-height: 444px
}

.green-circle {
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 30px 0 rgba(188, 211, 139, .45);
    background-color: #bcd38b;
    border-radius: 50%
}

.green-circle2 {
    width: 57px;
    height: 57px;
    box-shadow: 0 8px 20px 0 rgba(188, 211, 139, .17);
    background-color: #bcd38b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%
}

.green-circle3 {
    width: 49px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 20px 0 rgba(188, 211, 139, .4);
    background-color: #bcd38b;
    border-radius: 50%
}

.green-circle4 {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 20px 0 rgba(188, 211, 139, .4);
    background-color: #bcd38b;
    border-radius: 50%
}

.green-box {
    justify-content: space-evenly;
    min-height: 118px;
    border-radius: 15px;
    box-shadow: 0 14px 40px 0 rgba(188, 211, 139, .3);
    background-color: #bcd38b
}

.grey-circle {
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%
}

.emp-card {
    width: 205px;
    height: 240px;
    border-radius: 10px;
    box-shadow: 0 15px 28px 0 rgba(0, 0, 0, .05);
    background-color: #fff
}

.green-text {
    color: #BCD38B
}

.emp-card img {
    width: 161px;
    height: 170px;
    margin-top: -35px
}

.slider {
    border-radius: 10px;
    box-shadow: 0 20px 45px 0 rgba(0, 0, 0, .08);
    background-color: #fff;
    /*    height: 236px*/
    margin-bottom: 60px;
    border: 1px solid #eee;
    box-shadow: 0 15px 40px 0 rgb(0 0 0 / 3%);
}

.owl-carousel .owl-item img {
    width: auto !important
}

#carousel1 .owl-nav.disabled {
    display: flex !important;
    bottom: 122%;
    position: absolute;
    left: 90%
}

.owl-nav > button:focus {
    outline: none !important
}

.owl-nav > button {
    background-color: #FFFFFF !important;
    width: 30px;
    height: 30px;
    border: solid 1px #BCD38B !important;
    border-radius: 6px !important;
    display: flex !important;
    align-items: center;
    justify-content: center
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #BCD38B !important;
    color: #FFF !important;
    text-decoration: none
}

footer .navbar-nav {
    flex-direction: row !important
}

#top-menu li a {
    color: #000;
    font-size: 17px;
    line-height: 22px
}

#top-menu li {
    margin-right: 2rem !important
}

.ourservices-circle {
    width: 140px;
    height: 140px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 12px 30px 0 rgba(0, 0, 0, .08);
    background-color: #fff
}

.section p {
    margin-bottom: 30px;
    font-size: 17px;
    font-family: Poppins-Regular;
    line-height: 35px
}

.green-box h5 {
    font-size: 27px;
    line-height: 40px;
    color: #fff;
    margin: 0
}

.green-box h6 {
    font-size: 20px;
    line-height: 52px;
    color: #FFF;
    margin: 0
}

.box-items h5 {
    font-size: 20px;
    line-height: 27px;
    font-family: Poppins-Medium
}

.box-items h6 {
    font-size: 17px;
    line-height: 22px;
    color: #BCD38B
}

#form ::placeholder {
    color: #DFDDC6
}

.form-control {
    border-radius: 10px !important;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .07) !important;
    border: none !important;
    height: 59px
}

.submit {
    width: 160px;
    border-radius: 50px;
    box-shadow: 0 30px 45px 0 rgba(188, 211, 139, .3);
    background-color: #bcd38b;
    justify-content: space-between
}

.submit h6 {
    color: #FFF;
    font-size: 20px;
    line-height: 27px;
    margin: 0
}

footer p {
    color: #FFF
}

#footer-menu li a {
    color: #FFF;
    font-size: 16px;
    line-height: 22px;
    font-weight:500;
}

#footer-menu li {
    margin-right: 18px !important
}

.navbar-toggler {
    background-color: #BCD38B;
    border-radius: 50%;
    border: 1px solid #707070;
    width: 48px;
    height: 48px;
    outline: none !important
}

@media only screen and (max-width: 415px) {

    #top-menu{
        padding-left: 10px!important;
    }

    .notfound h1{
        font-size:17px!important;
    }
    iframe {
        margin-left: -3rem;
    }

    #carousel2 .owl-dots{
        display: flex;
        justify-content: center;
    }

    .navbar-expand-lg>.align-items-center{
        padding-bottom:1rem
    }

    .bbm{
        border-bottom:0.5px dashed black;
        padding-bottom: 2rem!important;
        padding-top: 2rem!important;
    }

    #carousel2 .active{
        display: flex;
        justify-content: center;
    }

    .close{
        top: -5%!important;
        right: 5%!important;
    }
    .modal-content{
        margin-top:120px;
    }

    .section{
        padding:20px!important;
    }

    .section p{
        font-size:15px!important;
    }
    #carousel1 .owl-stage-outer {
        overflow:visible!important
    }


    .emp-card {
        width: 247px;
        height: 260px;
    }
    .emp-card img {
        width: 194px;
        height: 205px;
        margin-top: -50px;
    }
    #treat{
        margin-top:50px!important;
    }
    .gotop div {
        position: absolute;
        top: 85px;
        right: 10px
    }
    .gotop{
        position:inherit!important;
    }

    .mt-86 {
        margin-top: 86px !important
    }

    .mt-0-m {
        margin-top: 0 !important
    }

    .text-center-m {
        text-align: -webkit-center;
    }

    .form-row {
        display: block !important
    }

    #form button {
        display: flex;
        margin: 0 auto
    }

    footer {
        background: url(../images/footerbg-m.png) no-repeat !important;
    }

    .center-block {
        display: block;
        margin: 0 auto
    }

    #card div {
        margin-bottom: 120px
    }

    .owl-nav {
        justify-content: space-between;
        display: flex;
        position: absolute;
        bottom: 60%;
        width: 100%
    }

    #hero {
        background: url(../images/mobile-hero.png) top no-repeat !important;
        background-size: contain;
        height: 402px !important
    }

    #hero .submit {
        margin: 0 auto
    }

    .herobg h1 {
        font-size: 30px;
        line-height: 40px;
        padding-top: 53px
    }

    #aboutus-bg {
        background-size: contain
    }

    #section0 {
        display: contents !important
    }

    header ul {
        padding: 15px
    }

    header ul li {
        margin-bottom: 20px
    }

    .collapse-radius{
        border-radius: 0 0 65px 65px!important;
    }

    header .collapsing {
        transition: all 1s !important
    }

    header .current-menu-item {
        background: url(../images/li-actie.svg) no-repeat bottom left !important
    }
}

.a-button {
    border-radius: 50px;
    box-shadow: 0 22px 35px 0 rgba(188, 211, 139, .2);
    background-color: #bcd38b;
    padding: 15px;
    transition-duration: 0.7s
}

.a-button:hover {
    background-color: #FFF;
    border: 1px solid #BCD38B;
    transition-duration: 0.6s
}

.a-button:hover > p {
    color: #BCD38B
}

.submit:hover {
    background-color: #FFF;
    box-shadow: 0 0px 33px 0 rgb(188 211 139 / 62%);
}

.submit:hover > h6 {
    color: #BCD38B
}

.owl-nav button span {
    font-size: 36px;
    color: #BCD38B
}

.owl-theme .owl-nav [class*=owl-]:hover > span {
    color: #FFF
}

#carousel2 .owl-stage {
    height: 160px
}

#carousel2 .owl-dots .active > span {
    background-color: #bcd38b;
    width: 29px
}

#carousel2 .owl-dot:focus {
    outline: none !important
}

.section h6 {
    margin: 0
}

header .current-menu-item > a {
    color: #BCD38B !important
}

header ul li {
    height: 35px !important
}

header .current-menu-item {
    background: url(../images/li-actie.svg) no-repeat bottom
}

.a-hover > p {
    color: #FFF
}

.hvr-icon-drop {
    box-shadow: 0 12px 40px 0 rgba(41, 91, 212, .15) !important
}

header ul li:hover > a {
    color: #BCD38B !important
}

a:hover {
    color: #BCD38B !important;
}
#office-information a:hover{
    color: #000 !important;
}


.btn:focus {
    box-shadow: none !important
}
a:hover  >  button{
    color:red!important;
}
.office-information-boxshadow:hover > .card span {
    background-color: #bcd38b!important
}

.office-information-boxshadow:hover path{
    /*     stroke:#bcd38b!important; */
    fill:#bcd38b;
}

.modal-header {
    border-bottom: none !important;
    padding: 0 !important
}

.modal-content {
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, .08);
    border: solid 1px rgba(238, 238, 238, .5);
    background-color: #fff
}

.modal-body {
    text-align: left;
    padding: 0 !important
}

.modal-body p {
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 35px;
    font-family: Poppins-Regular
}

.close {
    border-radius: 3px;
    background-color: #bcd38b !important;
    opacity: 1;
    width: 35px;
    height: 35px;
    position: absolute !important;
    top: -10%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center
}

.close:focus {
    outline: none !important
}

.close span {
    color: #FFF
}

.card button {
    background-color: #FFF;
    color: #DFDDC6;
    font-size: 17px;
    border: none;
    line-height: 22px;
    padding: 15px 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;

}


.card button:focus {
    outline: none !important
}

.financial {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    margin-right: 15px;
    margin-top: 10px
}

#hero .btn {
    padding: .375rem 0.25rem !important
}

#hero .submit {
    justify-content: flex-start !important
}

#card > .emp-card h6 {
    font-size: 20px;
    line-height: 29px
}

#card > .emp-card p {
    font-size: 20px;
    color: #616161
}

.gotop div {
    height: 50px;
    width: 50px;
    display: flex;
    border-radius: 50%;
    border: .5px solid #BCD38B;
    outline: none;
    align-items: center;
    justify-content: center
}

.maryam {
    font-size: 17px;
    line-height: 30px
}

#section5 ul li {
    margin-bottom: 10px
}
#carousel1 .owl-nav  button > span {
    position:absolute;
    /* 	    margin-top: -3px; */
}
#hero .submit:hover > .green-circle3{
    background-color:rgb(188 211 139)!important;
}
#hero .submit:hover{
    border:1px solid rgb(188 211 139);
}
a:hover button{
    color:rgb(188 211 139);
    transition-duration: 0.4s;

}
.patient.d-flex:hover a{
    color: #BCD38B !important;
}
.ourservices-circle > h6{font-size:14px!important;line-height:28px}
#map-image .col-3{flex: 0 0 22.4%!important;}
.gotop{position: absolute;right: -85px;}


@media only screen and (min-width:891px) and (max-width: 1024px) {
    #hero{background-position-x: 100%!important}
    .emp-card{width: 180px;}
    #gbox-md h6{
        font-size: 20px;
        line-height: 42px;
    }
}
@media only screen and (min-width: 416px) and (max-width:890px) {

    #mdfooter p{
        font-size: 12px;
    }

    #gbox-md h6{
        text-align: center;
        font-size: 15px;
        line-height: 42px;
    }
    .green-box h5 {
        font-size: 18px;
        line-height: 41px;
    }

    #email{
        font-size:14px;
    }

    header .current-menu-item {
        background-position:left!important;
        background-position-y: 25px!important;

    }


    footer{
        background-position:bottom!important;
        background-size:cover!important;
        background-position-x: 10%!important;
        background:url("../images/footer-rotate.png") bottom no-repeat!important;
    }
    footer .p{
        font-size:12px;
    }


    .tell-header-p,.clock-header-p{
        font-size:13px;
    }
    .emp-card img {
        width: 120px;
        height: 125px;
    }
    .emp-card {
        width: 140px;
        height: 230px;
    }
    .height-142 {
        height: 160px;
    }
    .box-items{
        width: 240px!important;

    }
}
#carousel1 .owl-nav{
    display: flex;
    position: absolute;
    bottom: 112%;
    right: 0;
}
.home-img-button + h6{
    font-size:14px!important;
}

#ourteam .submit:hover > .green-circle3 {
    background-color: rgb(188 211 139)!important;

}
#hero button:hover a h6{
    color:#BCD38B!important;
}
#hero button:hover a div{
    background-color:#BCD38B!important;
}

.modal-header .close span{
    position:absolute;
}
.mapmax{
    max-width: 102%;
    height: auto;
}
.notfound h1{
    font-size:35px;
    line-height:47px;
    color:#616161;
    margin-top:45px;
    margin-bottom:45px
}
.notfound button:hover div{
    background-color:#BCD38B!important;
}
.green-box p{
    font-size: 18px;
    line-height: 52px;
    color: #FFF;
}
#top-menu{
    padding-left:0;
}
#phone-hover:hover{
    color:#000!important;
}

#carousel1 .owl-nav button{
    display: flex!important;
    align-items: center;
    justify-content: center;
}
.section a  div.d-flex.align-items-center:hover > span svg{
    stroke:#fff;
}
.section a  div.d-flex.align-items-center:hover > span{
    background:#bcd38b!important;
}

